*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html{
    height: 100%;
    width: 100%;
}

body{
    background-color: black;
}

div#interacao-inicial{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 40px;
    width: max-content;
    border: 1px solid rgb(0, 170, 0);
    color: rgb(0, 170, 0);
    display: flex;
    flex-direction: column;
}

div#interacao-inicial > button{
    margin-top: 20px;
    border: 1px solid rgb(0, 170, 0);
    background-color: transparent;
    color: rgb(0, 170, 0);
    cursor: pointer;

}